@import "buttons";
@import "config";

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  header{
    color: $primary-text;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: $primary-color;
    h1{
      font-size: 20px;
    }
  }

  nav{
    color: $primary-color;
    ul{
      display: flex;
      list-style: none;
    }
  }
}
