*{
  margin: 0;
  padding: 0;
}

.wrapper{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  height: 100px;
  color: #fff;
  background: linear-gradient(20deg, #606c88, #3f4c6b);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.inputput{
  color: #fff;
}
.header > h1{
  height: auto;
  margin-top: 15px;
}

.input-box > label{
  display: none;
}

.input-box > input{
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.option{
  border-bottom: 1px soild #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.option-like{
  flex: 1;
}

.option-item{
  flex: 8;
}

.option-manage{
  padding-right: 8px;
}


.todo-list li{
  border-bottom: 1px solid #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.todo-like{
  flex: 1;
}

.todo-item{
  flex: 8;
}

.done .todo-item{
  text-decoration: line-through;
  color: gray;
}

.done .check{
  visibility: hidden;
}

.todo-manager{
  display: flex;
  justify-content: space-between;
}

.like{
  cursor: pointer;
  font-size: 18px !important;
  color: salmon;
}

.check{
  color: #38ef7d;
}

.clear{
  color: salmon;
}

#allClear{
  margin: 10px;
  float: right;
}
